
*{
  box-sizing: border-box;  
  margin: 0;

}
body, html {
    height: 100%;
  }
#bgimage{
    background-image: url("assets/bg.jpg");
      /* filter:blur(50%);  */
    height: 100%;
    /* width: 100%;    */
    background-size: cover; 
    background-position:cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(20); */
    /* opacity: .5; */
    
}
/* .img-nofilter{
  opacity: 1;

} */

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  border: 2px red solid;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  border: 2px blue solid;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}
/* body{
  display:grid;
  grid:  repeat(3, 80px) / auto-flow;
} */

/* header, footer{
    grid-column: 1/4;
} */